@import "tailwindcss";
@import "../../../styles.css";

.backdrop-blur-fix {
  backdrop-filter: blur(0.5rem);
}

.iptv-preset-button {
  @apply transform rounded-full bg-bpPaleGrey1/50 py-4 transition-transform duration-100 active:translate-y-1 dark:bg-bpPaleGrey1/20;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
