<div class="flex">
  <div
    class="relative z-10 m-2 flex h-14 w-4/5 cursor-pointer items-center overflow-hidden rounded-full p-0.5"
  >
    <div
      class="absolute flex {{
        this.isSelected()
          ? 'animate-magic-border inset-0 bg-[conic-gradient(#007F00_0deg,#CCFF00_360deg)]'
          : ''
      }} "
    ></div>
    <div
      class="relative z-20 flex h-full w-full items-center rounded-4xl bg-bpWhite dark:bg-arriDarkGrey"
      (click)="sourceSelectPressed()"
    >
      <button
        [class]="
          buttonBackgroundColor() +
          ' flex h-full items-center justify-center rounded-l-full ' +
          (this.isSelected() ? 'animate-pulse' : '')
        "
      >
        <img [src]="sourceSelectImagePath()" class="h-8 pr-4 pl-6" alt="source image" />
      </button>
      <p [class]="textColor() + ' pl-3'">
        {{ sourceName
        }}{{ !this.dataService.sourceVideoSignal()[this.sourceValue] ? ' (no signal)' : '' }}
      </p>
      @if (!this.dataService.sourceVideoSignal()[this.sourceValue] && !this.sourceOnScreen()) {
        <img
          src="{{
            themeService.isDarkMode()
              ? './assets/images/unlinked-light-black.svg'
              : './assets/images/unlinked-light-grey.svg'
          }}"
          class="absolute right-2 h-7 w-7"
          alt="Source has no signal"
        />
      }
      <!-- Videowall source indicators  -->
      @if (this.sourceOnScreen() && this.isVideowallActive()) {
        <div class="absolute right-5 grid grid-cols-1 grid-rows-2 gap-0.5">
          <div
            [class]="
              'h-3 w-3 rounded-sm border-transparent ' +
              getIndicatorBackgroundColor(
                this.dataService.videowallSourceValue() === this.sourceValue
              )
            "
          ></div>
          <div
            [class]="
              'h-3 w-3 rounded-sm border-transparent ' +
              getIndicatorBackgroundColor(
                this.dataService.sonyDisplaySourceValue() === this.sourceValue
              )
            "
          ></div>
        </div>
      }
    </div>
  </div>
  @if (!dataService.isLowerGroundFloorActive()) {
    <div class="flex">
      <!-- Audio source select -->
      <img
        (click)="listenPressed()"
        class="mx-1 mt-2 h-14 w-14 rounded-full p-3.5"
        [ngClass]="{
          'bg-bpWhite dark:bg-arriDarkGrey': audioSource() !== this.sourceValue,
          'bg-arriPurple dark:bg-bpPurple2': audioSource() === this.sourceValue,
        }"
        [src]="
          audioSource() !== this.sourceValue
            ? './assets/images/bp-sound-mute-interface-bp-silver-100.png'
            : './assets/images/bp-sound-interface-bp-white-100.png'
        "
        alt="Audio toggle"
      />
    </div>
  }
</div>
